<div class="container">
  <nav class="navbar navbar-light" style="background-color:DarkSlateGray;color:white;border-radius:10px;">
    <a class="navbar-brand" href="/users_backoffice/categories"> Categories </a>
  
    <%= link_to "#", class:"btn btn-outline-light btn-sm my-sm-3", "data-toggle":"modal", "data-target":"#newCategoryModal", style:"width:270px" do %>
      <i class="fa fa-plus-square"></i> Nem Category
    <% end %>
  </nav>
</div><br>

<div class='row'>
  <div class='col'>
    <div class='card border border-success'>
      <div class='card-header bg-success text-white'>
        <span class='icon'><i class='fa fa-arrow-up'> RECIPES</i></span>
      </div>
      <div class='card-body'>
        <table class='table table-hover table-sm table-borderless'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.recipes.each do |category| %>
              <tr>
                <td><%= category.title %></td>
                <td><%= render 'actions', category: category %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class='col'>
    <div class='card border border-danger'>
      <div class='card-header bg-danger text-white'>
        <span class='icon'><i class='fa fa-arrow-down'> EXPENSES</i></span>
      </div>
      <div class='card-body'>
        <table class='table table-hover table-sm table-borderless'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.expenses.each do |category| %>
              <tr>
                <td><%= category.title %></td>
                <td><%= render 'actions', category: category %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<%= render partial: 'users_backoffice/categories/new', locals: { category: @category = Category.new} %>
